.main {
  padding: 10px 0;
  height: 100vh;
  background-color: rgba(201, 196, 196, 0.607);
}

.layout {
  display: flex;
}

.sidebar {
  min-height: 100%;
  width: 300px;
  border-radius: 5px;
  background-color: rgb(1, 34, 51);
  box-shadow: 0 0 2px gray;
  margin-right: 20px;
  color: white;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  border-radius: 10px;
  height: 10vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  background-color: rgb(1, 34, 51);
}

.body {
  height: 85vh;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  background-color: rgba(237, 235, 235, 0.789);
}

.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}

.menu {
  margin-top: 50px;
}

.menu-item {
  margin-top: 30px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
}

.active {
  background-color: white;
  padding: 10px;
}

.active a,
.active i {
  color: rgb(51, 1, 1);
}

.header-content {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  margin: 0 15px;
}

.header-content i {
  margin-right: 20px;
  font-size: 1.2rem;
}

.header-content a {
  text-decoration: none;
  font-size: 1.2rem;
  color: blue;
  margin: 0 10px;
  text-transform: uppercase;
}

.header-heading {
  display: none;
}

.body {
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.body::-webkit-scrollbar {
  display: none;
}

.card-body {
  width: 250px;
}

.name {
  color: white;
}

.us {
  border: 1px solid white;
  padding: 7px;
  color: white;
  border-radius: 50%;
}

.gold {
  color: gold;
  width: 10px;
  padding-bottom: 15px;
}
.notification-content{
  padding :8px 15px;
}
@media screen and (max-width: 600px) {
  .header {
    padding: 0 10px;
    margin: 0;
    height: 8vh;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 159, 167);
  }

  .layout {
    flex-direction: column-reverse;
  }

  .logo {
    display: none;
  }

  .sidebar {
    width: 100%;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 3px 5px 3px;
    align-items: center;

  }

  .menu-item-name {
    display: none;
  }
  .name{
    width: 100px;
    padding-top:5px;
    height: 8vh;
    overflow: hidden;
  }
  .menu-item {
    margin-top: 5px;
  }

  .active {
    border-radius: 5px;
  }

  .ant-row {
    justify-content: center;
  }
.main{
  padding: 0;
}
  .header-heading {
    display: block;
    padding-top: 3px;
  }
}
